[Desktop Entry]
Icon=text-html
Name=https://github.com/ivangfr/springboot-keycloak-openldap/blob/master/README.md
Type=Link
URL[$e]=https://github.com/ivangfr/springboot-keycloak-openldap/blob/master/README.md
